@charset "UTF-8";
body {
    text-align: center;
    background-image: url("imgs/CuteTiger.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: 10% 5%;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 2s ease-in;
}

body.fade-in {
    opacity: 1;
}

h1 {
    position: absolute;
    top: 2vw;
    right: 1vw;
    font-size: 7vw;
    -webkit-text-stroke: 1.5px #000000;
    color: rgb(255, 140, 0);
    text-shadow: black 0.01em 0.01em 0.02em;
}

footer {
    text-align: center;
    font-size: 2vw;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%);
}

a {
    -webkit-text-stroke: 0.5px #000000;
    color: rgb(255, 140, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(255, 69, 0);
}

#icon-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    color: #FF8C00;
}

#icon-container a {
    color: inherit;
}

#music-player {
    position: fixed;
    bottom: 20px;
    left: 100px;
    z-index: 1000;
}

#play-pause-btn i {
    color: #FF8C00;
    cursor: pointer;
    font-size: 3em;
}

#particles-js {
    width: 100%;
    height: 100vh; /* 视窗的高度 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* 使其位于其他内容之后 */
}

@media (max-width: 768px) {
    body {
        background-position: 50% 15%;
    }

    h1 {
        font-size: 10vw;
        top: 5vw;
        right: 2vw;
    }

    footer {
        font-size: 4vw;
        top: 95%;
    }
}
