@charset "UTF-8";
body {
    text-align: center;
    background-image: url("imgs/delayPic.avif");
    background-size: cover;
    background-repeat: repeat;
    background-position:15% 15%;
}

h1 {
    position:absolute;
    top:2vw;
    right:1vw;
    font-size: 7vw;
    -webkit-text-stroke: 1.5px #000000;
    color: rgb(255, 0, 204);
    text-shadow: black 0.01em 0.01em 0.02em
}
footer {
    text-align: center;
    font-size: 2vw;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 50%); /* 將背景元素向左上角平移50%的距離，使其位於螢幕中心下方 */
}
a {
    -webkit-text-stroke: 0.5px #000000;
    color: rgb(255, 0, 204);
}
a:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

